body {
  padding-top: 80px;
  word-wrap: break-word;
}

.topHead{
  text-align: center;
}

.container{
  display: flex;
  width: 1820px;
  height: 1213px;
  background-image: url(../img/cofback.jpg);
  color: white;
}

img {
  height: 200px;
}

h1 {
  text-align: center;
}
#pg{
  background-color: #b48820;
}
#full{
  background-image: url(../img/cof.png);
  color: white;
}

h2{
  font-weight: bolder;
  margin-bottom: 77px;
  font-size: 50px;
}

.pending{
  margin-right: 10%;
}

.jumbotron{
    color: black;
}

.order {
  padding: 10px;
  border: 1px solid black;
  width: 100%;
}

.columns {
  display: flex;
  justify-content: center;
}

/* .hidden {
  display: none;
} */

.coffee-order-center{
  padding: 5%;
  margin-left: 2%;
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  border-radius: 6px;
  width: 933px
}
fieldset{
  font-size: 25px;
  padding-bottom: 30px;
  padding-top: 30px;
}
p{
  font-size: 25px;
}
.text-area{
  font-size: 25px;
}
button{
  height: 36px;
}
